<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <img src="http://empty-stream-1241.heroku.com/assets/vmslytelogo.png" alt="VMSLyte" /></br>
    <h1>NOTIFICATION FROM RecruitMGR.com for <%= @user.name %></h1>
    <p>
      You're account credentials were successfully modified at <%= @user.updated_at.localtime%>,
      using the username: <%= @user.email %>.<br/><br/>
	  If you have not recently triggered an account change, please contact us immediately.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>