<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <img src="http://empty-stream-1241.heroku.com/assets/vmslytelogo.png" alt="VMSLyte" /></br>
	<%= Time.now %></br>
    <h1>There has been an error with the logic in <%= @emsg %></h1>
	</br>
	The users name is <%= @user.name %>
  </body>
</html>