<h1>About Us</h1>
<p>
  We know recruiting and we realized that typical VMS systems were overkill for what most peoples needs are.  Recruiters need a portal to communicate the status of their candidate submissions with their clients - thats what we do.</br></br>
  Our system will help manage the day-to-day tasks of reviewing candidates associated with open positions.
</p>
